@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-controller="pmo" asp-action="HandleForm">
	<label for="id">ID:</label>
	<input required="true" type="text" id="id" name="id"/><br><br/>

	<label for="name">Name:</label>
	<input required="true" type="text" id="name" name="name"/><br><br/>

	<input type="submit" value="Submit"/>
</form>