
@{
    ViewData["Title"] = "Welcome";
}

<p>Your name is @ViewData["Name"]</p>
<p>Your id is @ViewData["ID"] </p><br>

<p>@{
		for (int i = 0; i < 10; i++)
		{
			<p>Hello @ViewData["Name"] @i</p>
		}
   }</p>
